<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>2008 Alumni</title>
    <link rel="stylesheet" href="../public/css/a2008.css">
    <link rel="icon" href="../public/images/falcon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h2 class="logo">IIITDM Alumni Portal</h2>
        <nav class="navigation">
            <a class = "link" href="/index-login"><span class="footer-links">Home</span></a>
            <a class = "link" href="/about-login"><span class="footer-links">About Us</span></a>
            <a class = "link" href="/members-login"><span class="footer-links">Members</span></a>
            <a class = "link" href="/events-login"><span class="footer-links">Events</span></a>
            <a class = "link" href="/gallery-login"><span class="footer-links">Gallery</span></a>
            <a button class="btnlogin" href="/auth/logout">Logout</a>
        </nav>
    </header>
    <br>
    <div class="links">
        <h1>Alumni of 2008</h1>
    </div>
    <br><br>
    <div class="lin">
        <div class="r1">
            <div class="box">
               <img src="https://media.licdn.com/dms/image/C5103AQHzq8D-erP5OA/profile-displayphoto-shrink_800_800/0/1554240750025?e=1686787200&v=beta&t=qEWg4X-7rxEQM6ZlajE-2SOQVl0FpLBtkOTnrqLN2A0">
               <a href="">
                  <p>Vani Sindura Bodapati</p>
                  <p>B. Tech - MDM 2008</p>
               </a>
            </div>
            <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/mdm08b043.jpeg">
                <a href="">
                    <p>Km Ranjana</p>
                    <p>B. Tech - MDM 2008</p>
                 </a>
            </div>
        </div>
        
    </div>
   
    
    <div class="container-3">
        <div class="footer-bg">
            <div class="quick-links">
                    <p class="footer-heading">Quick Links</p>
                    <hr class="h-line">
                    <div class="footer-space"></div>
                    <a class = "link" href="#"><span class="footer-links">Home</span></a>
                    <a class = "link" href="#"><span class="footer-links">About Us</span></a>
                    <a class = "link" href="#"><span class="footer-links">Members</span></a>
                    <a class = "link" href="#"><span class="footer-links">Events</span></a>
                    <a class = "link" href="#"><span class="footer-links">Gallery</span></a>
            </div>
            <div class="contact-us">
                <div class="footer-heading">Contact us</div>
                <hr class="h-line">
                <div class="icons">
                    <a href="https://www.linkedin.com/company/alumni-affairs-iiitdm/" target="_blank"><img class = "footer-icon-1" src="../public/images/linkedin.webp"></a>
                    <a href="https://instagram.com/alumniaffairsiiitdm?igshid=YmMyMTA2M2Y=" target="_blank"><img class = "footer-icon-2" src = "../public/images/instagram.png"></a>
                    <a href="https://twitter.com/iiitdm_kancheep?lang=en" target="_blank"><img class = "footer-icon-3" src="../public/images/twitter.webp"></a>
            </div>
        </div>
    </div>
    <script src="members.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> 
</body>
</html>

    
    
