<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Members of 2014</title>
    <link rel="stylesheet" href="../public/css/members.css">
    <link rel="icon" href="../public/images/falcon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <style>
                    .lin .r3
                    {
                        margin:2%;
                        display: flex;
                        flex-direction: row;
                        justify-content:  center;
                        gap:100px;
                    }
                    .r3 .box
                    {
                        display:flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }

                    .r3 .box img
                    {
                        height:250px;
                        width:245px;
                        border:0;
                        border-radius: 10px;
                    }
                    .r3 .box a
                    {
                        display: block;
                        width: 250px;
                        height: 70px;
                        padding: 2px;
                        border:1px solid white;
                        background: rgb(66, 63, 63);
                        color:red;
                        text-decoration: none;
                        border-radius: 6px;
                        outline: none;
                        cursor: pointer;
                        font-size: 1.1em;
                        font-weight: 700;
                        transition: .6s;
                        text-align: center;

                    }
                    .r3 .box a:hover
                    {
                        background: white;
                        color:blue;
                    }
                    .r3 .box p
                    {
                        padding: 4px;
                    }

    </style>
</head>
<body>
    <header>
        <h2 class="logo">IIITDM Alumni Portal</h2>
        <nav class="navigation">
            <a class = "link" href="/index-login"><span class="footer-links">Home</span></a>
            <a class = "link" href="/about-login"><span class="footer-links">About Us</span></a>
            <a class = "link" href="/members-login"><span class="footer-links">Members</span></a>
            <a class = "link" href="/events-login"><span class="footer-links">Events</span></a>
            <a class = "link" href="/gallery-login"><span class="footer-links">Gallery</span></a>
            <a button class="btnlogin" href="/auth/logout">Logout</a>
        </nav>
    </header>
    <br>
    <div class="links">
        <h1>Alumni of 2014</h1>
    </div>
    <br><br>
    <div class="lin">
        <div class="r1">
            <div class="box">
               <img src="https://lh4.googleusercontent.com/-N_-NP5WMhRM/AAAAAAAAAAI/AAAAAAAAABE/_YW7DIIYj6Q/photo.jpg">
               <a href="">
                  <p>Shashank Jain</p>
                  <p>M. Des - MDS 2014</p>
               </a>
            </div>
            <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/eds14m011.jpeg">
                <a href="">
                    <p>Ranjeet kumar</p>
                    <p>M. Des - EDS 2014</p>
                 </a>
            </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/eds14m004.jpeg">
                <a href="">
                    <p>Dhayalakumar</p>
                    <p>M. Des - EDS 2014</p>
                 </a>
                
             </div>
             <div class="box">
                <img src="https://lh5.googleusercontent.com/-rUHNdOq-V5g/AAAAAAAAAAI/AAAAAAAAAA4/JzvwT3M5e3Y/photo.jpg">
                <a href="">
                    <p>Chetan Soni</p>
                    <p>M. Des - CDS 2014</p>
                 </a>
             </div>
        </div>
        <div class="r1">
            <div class="box">
               <img src="https://iiitdm.ac.in/Profile/images/Profile/eds14m002.jpeg">
               <a href="">
                  <p>Deepak Ranjan Padhi</p>
                 <p>M. Des - EDS 2014</p>
               </a>
               
            </div>
            <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/eds14m008.jpeg">
                <a href="">
                    <p>Kiran C Pattanashetty</p>
                   <p> M. Des - EDS 2014</p>
                 </a>
                
             </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/cds14m009.jpeg">
                <a href="">
                    <p>SHANTANU BARAI</p>
                    <p>M. Des - CDS 2014</p>
                 </a>
                
             </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/mds14m007.jpeg">
                <a href="">
                    <p>Jaganathan A</p>
                    <p>M. Des - MDS 2014</p>
                 </a>
               
             </div>
        </div>
        <div class="r3">
            <div class="box">
               <img src="https://iiitdm.ac.in/Profile/images/Profile/cds14m004.jpeg">
               <a href="">
                <p>Nelapati Lava Prasad</p>
                <p>M. Des - CDS 2014</p>
             </a>
              
            </div>
            <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/mds14m002.jpeg">
                <a href="">
                    <p>CHANDRASEKAR E</p>
                    <p>M. Des - MDS 2014</p>
                 </a>
                
             </div>
             <div class="box">
                <img src="https://lh5.googleusercontent.com/-MeVnDXNSWVk/AAAAAAAAAAI/AAAAAAAAADA/UXUHllqqNuA/photo.jpg">
                <a href="">
                    <p>Aro Satish J</p>
                    <p>M. Des - MDS 2014</p>
                 </a>
             </div>
        </div>
        
    </div>
   
    <div class="container-3">
        <div class="footer-bg">
            <div class="quick-links">
                    <p class="footer-heading">Quick Links</p>
                    <hr class="h-line">
                    <div class="footer-space"></div>
                    <a class = "link" href="/index-login"><span class="footer-links">Home</span></a>
                    <a class = "link" href="/about-login"><span class="footer-links">About Us</span></a>
                    <a class = "link" href="/members-login"><span class="footer-links">Members</span></a>
                    <a class = "link" href="/events-login"><span class="footer-links">Events</span></a>
                    <a class = "link" href="/gallery-login"><span class="footer-links">Gallery</span></a>
            </div>
            <div class="contact-us">
                <div class="footer-heading">Contact us</div>
                <hr class="h-line">
                <div class="icons">
                    <a href="https://www.linkedin.com/company/alumni-affairs-iiitdm/" target="_blank"><img class = "footer-icon-1" src="../public/images/linkedin.webp"></a>
                    <a href="https://instagram.com/alumniaffairsiiitdm?igshid=YmMyMTA2M2Y=" target="_blank"><img class = "footer-icon-2" src = "../public/images/instagram.png"></a>
                    <a href="https://twitter.com/iiitdm_kancheep?lang=en" target="_blank"><img class = "footer-icon-3" src="../public/images/twitter.webp"></a>
                </div>
            </div>
        </div>
    </div>
    <script src="members.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> 
</body>
</html>

    
    
