<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>2010 list</title>
    <link rel="stylesheet" href="../public/css/members.css">
    <link rel="icon" href="../public/images/falcon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h2 class="logo">IIITDM Alumni Portal</h2>
        <nav class="navigation">
            <a class = "link" href="/index-login"><span class="footer-links">Home</span></a>
            <a class = "link" href="/about-login"><span class="footer-links">About Us</span></a>
            <a class = "link" href="/members-login"><span class="footer-links">Members</span></a>
            <a class = "link" href="/events-login"><span class="footer-links">Events</span></a>
            <a class = "link" href="/gallery-login"><span class="footer-links">Gallery</span></a>
            <a button class="btnlogin" href="/auth/logout">Logout</a>
        </nav>
    </header>
    <br>
    <div class="links">
        <h1>Alumni of 2010</h1>
    </div>
    <br><br>
    <div class="lin">
        <div class="r1">
            <div class="box">
               <img src="https://iiitdm.ac.in/Profile/images/Profile/coe10b011.jpeg">
               <a href="">
                  <p>V PAVAN KUMAR</p>
                  <p>B.Tech-COE 2010</p>
               </a>
            </div>
            <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/mdm10b002.jpeg">
                <a href="">
                    <p>Avinash Reddy Kallam</p>
                    <p>B.Tech -MDM 2010</p>
                 </a>
            </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/coe10b013.jpeg">
                <a href="">
                    <p>Ramesh Krishnan P S</p>
                    <p>B. Tech - COE 2010</p>
                 </a>
                
             </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/coe10b020.jpeg">
                <a href="">
                    <p>Leela Manoj N</p>
                    <p>B.Tech -COE 2010</p>
                 </a>
             </div>
        </div>
        <div class="r2">
            <div class="box">
               <img src="https://iiitdm.ac.in/Profile/images/Profile/edm10b007.jpeg">
               <a href="">
                  <p>Keerthi Vignesh Kumar</p>
                 <p>B.Tech -EDM 2010</p>
               </a>
               
            </div>
            <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/mdm10b005.jpeg">
                <a href="">
                <p>V Jayanth Goutham</p>
                <p> B. Tech - MDM 2010</p>
                 </a>
                
             </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/coe10b016.jpeg">
                <a href="">
                    <p>Spandan Mannava</p>
                    <p>B. Tech - COE 2010</p>
                 </a>
                
             </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/coe10d001.jpeg">
                <a href="">
                    <p>Kanjar De</p>
                    <p>Ph.D-Computersc 2010</p>
                 </a>
               
             </div>
        </div>
        <div class="r1">
            <div class="box">
               <img src="https://iiitdm.ac.in/Profile/images/Profile/edm10b012.jpeg">
               <a href="">
                <p>Jakkula Raviteja</p>
                <p>B.Tech - EDM 2010</p>
             </a>
              
            </div>
            <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/edm10b019.jpeg">
                <a href="">
                    <p>Spoorthy Macherla</p>
                    <p>B.Tech - EDM 2010</p>
                 </a>
                
             </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/coe10b009.jpeg">
                <a href="">
                    <p>Naveen Cherupally</p>
                    <p>B. Tech - COE 2010</p>
                 </a>
                
             </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/coe10b008.jpeg">
                <a href="">
                    <p>Deepthi Male</p>
                    <p>B. Tech - COE 2010</p>
                 </a>
                
             </div>
        </div>
        <div class="r1">
            <div class="box">
               <img src="https://iiitdm.ac.in/Profile/images/Profile/edm10b009.jpeg">
                <a href="">
                    <p>Nandita Bhaskhar</p>
                   <p>B. Tech - EDM 2010</p>
                 </a>
               
            </div>
            <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/coe10b002.jpeg">
                <a href="">
                    <p>Anil Kumar Meda</p>
                    <p>B. Tech - COE 2010</p>
                 </a>
                
             </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/mds10m003.jpeg">
                <a href="">
                    <p>Sanket Patil</p>
                    <p>M. Des - MDS 2010</p>
                 </a>
               
             </div>
             <div class="box">
                <img src="https://chennai.vit.ac.in/wp-content/uploads/2020/09/51016-Dr.-Devi-Yamini-S-51016-255x319.jpg">
                <a href="">
                    <p>S.Devi Yamini</p>
                    <p>Ph.D-Mathematics 2010</p>
                 </a>
                
             </div>
        </div>
    </div>
   
    <div class="container-3">
        <div class="footer-bg">
            <div class="quick-links">
                    <p class="footer-heading">Quick Links</p>
                    <hr class="h-line">
                    <div class="footer-space"></div>
                    <a class = "link" href="#"><span class="footer-links">Home</span></a>
                    <a class = "link" href="#"><span class="footer-links">About Us</span></a>
                    <a class = "link" href="#"><span class="footer-links">Members</span></a>
                    <a class = "link" href="#"><span class="footer-links">Events</span></a>
                    <a class = "link" href="#"><span class="footer-links">Gallery</span></a>
            </div>
            <div class="contact-us">
                <div class="footer-heading">Contact us</div>
                <hr class="h-line">
                <div class="icons">
                    <a href="https://www.linkedin.com/company/alumni-affairs-iiitdm/" target="_blank"><img class = "footer-icon-1" src="../public/images/linkedin.webp"></a>
                    <a href="https://instagram.com/alumniaffairsiiitdm?igshid=YmMyMTA2M2Y=" target="_blank"><img class = "footer-icon-2" src = "../public/images/instagram.png"></a>
                    <a href="https://twitter.com/iiitdm_kancheep?lang=en" target="_blank"><img class = "footer-icon-3" src="../public/images/twitter.webp"></a>
                </div>
            </div>
        </div>
    </div>
    <script src="members.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> 
</body>
</html>

    
    
