<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>2011 Alumni</title>
    <link rel="stylesheet" href="../public/css/a2011.css">
    <link rel="icon" href="../public/images/falcon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h2 class="logo">IIITDM Alumni Portal</h2>
        <nav class="navigation">
            <a class = "link" href="/index-login"><span class="footer-links">Home</span></a>
            <a class = "link" href="/about-login"><span class="footer-links">About Us</span></a>
            <a class = "link" href="/members-login"><span class="footer-links">Members</span></a>
            <a class = "link" href="/events-login"><span class="footer-links">Events</span></a>
            <a class = "link" href="/gallery-login"><span class="footer-links">Gallery</span></a>
            <a button class="btnlogin" href="/auth/logout">Logout</a>
        </nav>
    </header>
    <br>
    <div class="links">
        <h1>Alumni of 2011</h1>
    </div>
    <br><br>
    <div class="lin">
        <div class="r1">
            <div class="box">
               <img src="https://lh3.googleusercontent.com/-W3WGuM7B8no/AAAAAAAAAAI/AAAAAAAAAAA/Xl7RTFvH3PI/photo.jpg">
               <a href="">
                  <p>P L N Thanoj Kumar</p>
                  <p>B. Tech - EDM 2011</p>
               </a>
            </div>
            <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/EDM11B003.jpeg">
                <a href="">
                    <p>Sanjusha Reddy</p>
                    <p>B.Tech - EDM 2011</p>
                 </a>
            </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/MDM11B028.png">
                <a href="">
                    <p>Abhishek Arun Yevalkar</p>
                    <p>B. Tech - MDM 2011</p>
                 </a>
                
             </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/COE11B001.jpeg">
                <a href="">
                    <p>Achanta Mounika</p>
                    <p>B. Tech - COE 2011</p>
                 </a>
             </div>
        </div>
        <div class="r2">
            <div class="box">
               <img src="https://iiitdm.ac.in/Profile/images/Profile/MDM11B026.jpeg">
               <a href="">
                  <p>SAURAV VERMA</p>
                 <p>B.Tech - MDM 2011</p>
               </a>
               
            </div>
            <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/COE11B024.jpeg">
                <a href="">
                    <p>Sri Kumar Ravipati</p>
                   <p>B.Tech -COE 2011</p>
                 </a>
                
             </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/COE11B018.jpeg">
                <a href="">
                    <p>Sakthi Vel</p>
                    <p>B.Tech - COE 2011</p>
                 </a>
             </div>
        </div>
       
       
    </div>
   
     <div class="container-3">
        <div class="footer-bg">
            <div class="quick-links">
                    <p class="footer-heading">Quick Links</p>
                    <hr class="h-line">
                    <div class="footer-space"></div>
                    <a class = "link" href="#"><span class="footer-links">Home</span></a>
                    <a class = "link" href="#"><span class="footer-links">About Us</span></a>
                    <a class = "link" href="#"><span class="footer-links">Members</span></a>
                    <a class = "link" href="#"><span class="footer-links">Events</span></a>
                    <a class = "link" href="#"><span class="footer-links">Gallery</span></a>
            </div>
            <div class="contact-us">
                <div class="footer-heading">Contact us</div>
                <hr class="h-line">
                <div class="icons">
                    <a href="https://www.linkedin.com/company/alumni-affairs-iiitdm/" target="_blank"><img class = "footer-icon-1" src="../public/images/linkedin.webp"></a>
                    <a href="https://instagram.com/alumniaffairsiiitdm?igshid=YmMyMTA2M2Y=" target="_blank"><img class = "footer-icon-2" src = "../public/images/instagram.png"></a>
                    <a href="https://twitter.com/iiitdm_kancheep?lang=en" target="_blank"><img class = "footer-icon-3" src="../public/images/twitter.webp"></a>
                </div>
            </div>
        </div>
    </div>
    <script src="members.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> 
</body>
</html>

    
    
