<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Alumni of 2012</title>
    <link rel="stylesheet" href="../public/css/a2012.css">
    <link rel="icon" href="../public/images/falcon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h2 class="logo">IIITDM Alumni Portal</h2>
        <nav class="navigation">
            <a class = "link" href="/index-login"><span class="footer-links">Home</span></a>
            <a class = "link" href="/about-login"><span class="footer-links">About Us</span></a>
            <a class = "link" href="/members-login"><span class="footer-links">Members</span></a>
            <a class = "link" href="/events-login"><span class="footer-links">Events</span></a>
            <a class = "link" href="/gallery-login"><span class="footer-links">Gallery</span></a>
            <a button class="btnlogin" href="/auth/logout">Logout</a>
        </nav>
    </header>
    <br>
    <div class="links">
        <h1>Alumni of 2012</h1>
    </div>
    <br><br>
    <div class="lin">
        <div class="r1">
            <div class="box">
               <img src="https://lh5.googleusercontent.com/-vN7FoVC0qyA/AAAAAAAAAAI/AAAAAAAAAA0/r4GdUoUwE60/photo.jpg">
               <a href="">
                  <p>Avinash Kadimisetty</p>
                  <p>B.Tech -COE 2012</p>
               </a>
            </div>
            <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/EDS12M008.jpeg">
                <a href="">
                    <p>Uday Kiran Sikharam</p>
                    <p>M. Des - EDS 2012</p>
                 </a>
            </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/MDM12B019.jpeg">
                <a href="">
                    <p>Rineetha Charles</p>
                    <p>B. Tech - MDM 2012</p>
                 </a>
                
             </div>
             <div class="box">
                <img src="https://lh3.googleusercontent.com/-K7_ke0gEsg8/AAAAAAAAAAI/AAAAAAAAAAA/jgccdcFwzok/photo.jpg">
                <a href="">
                    <p>Vikram Ravikanti</p>
                    <p>B.Tech - EDM 2012</p>
                 </a>
             </div>
        </div>
        <div class="r1">
            <div class="box">
               <img src="https://iiitdm.ac.in/Profile/images/Profile/MDM12B025.jpeg">
               <a href="">
                  <p>VIKAS TIWARI</p>
                 <p>B. Tech - MDM 2012</p>
               </a>
               
            </div>
            <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/MDM12B022.jpeg">
                <a href="">
                    <p>SAI KRISHNA INENI</p>
                   <p>B. Tech - MDM 2012</p>
                 </a>
                
             </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/MDS12M011.jpeg">
                <a href="">
                    <p>Uzwalkiran.R</p>
                    <p>M. Des - MDS 2012</p>
                 </a>
                
             </div>
             <div class="box">
                <img src="https://lh3.googleusercontent.com/a-/AOh14GjfBzT9Xd0LWaE5FFZWjMmtQcgOm-Sy-LjtpNed-w">
                <a href="">
                    <p>Amit Kumar Bedaka</p>
                    <p>M.Des -MDS 2012</p>
                 </a>
               
             </div>
        </div>
        <div class="r1">
            <div class="box">
               <img src="https://iiitdm.ac.in/Profile/images/Profile/eds12m006.jpeg">
               <a href="">
                <p>Samaresh Chandra Nayak</p>
                <p>M. Des - EDS 2012</p>
             </a>
              
            </div>
            <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/mdm12d001.jpeg">
                <a id="need" href="">
                    <p>R.Senthil kumar</p>
                    <p>Ph.D-Mechanical Engineering 2012</p>
                 </a>
                
             </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/EDS12M003.jpeg">
                <a href="">
                    <p>NIRUPAM PAUL</p>
                    <p>M.Des -EDS 2012</p>
                 </a>
                
             </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/EDM12B012.jpeg">
                <a href="">
                    <p>Giridharan Kumaravelu</p>
                    <p>B. Tech - EDM 2012</p>
                 </a>
                
             </div>
        </div>
        <div class="r1">
            <div class="box">
               <img src="https://iiitdm.ac.in/Profile/images/Profile/COE12B013.jpeg">
                <a href="">
                    <p>Hari Krishna Majety</p>
                   <p>B. Tech - COE 2012</p>
                 </a>
               
            </div>
            <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/COE12B018.jpeg">
                <a href="">
                    <p>NITIN VIVEK BHARTI</p>
                    <p>B. Tech - COE 2012</p>
                 </a>
                
             </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/EDS12M004.jpeg">
                <a href="">
                    <p>Rajmohan S</p>
                    <p>M. Des - EDS 2012</p>
                 </a>
               
             </div>
             <div class="box">
                <img src="https://lh6.googleusercontent.com/-RMn26dA3dCM/AAAAAAAAAAI/AAAAAAAAABg/qBlndfJ-2_M/photo.jpg">
                <a href="">
                    <p>IRUKUVAJJALA SUJITH</p>
                    <p>B.Tech - MDM 2012</p>
                 </a>
             </div>
        </div>
        <div class="r1">
            <div class="box">
               <img src="https://iiitdm.ac.in/Profile/images/Profile/EDS12M002.jpeg">
                <a href="">
                    <p>NARESH VENKATESAN</p>
                   <p>M.Des - EDS 2012</p>
                 </a>
               
            </div>
            <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/EDS12M009.jpeg">
                <a href="">
                    <p>Sivakumar Elangovan</p>
                    <p>M. Des - EDS 2012</p>
                 </a>
                
             </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/COE12B012.jpeg">
                <a href="">
                    <p>Kuldeep Gunta</p>
                    <p>B.Tech -COE 2012</p>
                 </a>
               
             </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/EDM12B003.jpeg">
                <a href="">
                    <p>ALLU ASHA KUMARI</p>
                    <p>B.Tech - EDM 2012</p>
                 </a>
             </div>
        </div>
        <div class="r1">
            <div class="box">
               <img src="https://iiitdm.ac.in/Profile/images/Profile/edm12d001.jpeg">
                <a href="">
                    <p>ABDUL MAJEED K. K.</p>
                   <p>Ph.D -ECS 2012</p>
                 </a>
               
            </div>
            <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/MDS12M012.jpeg">
                <a href="">
                    <p>Venkataraman sahoo</p>
                    <p>M.Des - MDS 2012</p>
                 </a>
                
             </div>
             <div class="box">
                <img src="https://lh3.googleusercontent.com/-khEHVwnCN6U/AAAAAAAAAAI/AAAAAAAAAA0/D_GDQO-9uSw/photo.jpg">
                <a href="">
                    <p>Shashidhar Dastari</p>
                    <p>B.Tech - EDM 2012</p>
                 </a>
               
             </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/COE12B024.jpeg">
                <a href="">
                    <p>Pranjal Choubey</p>
                    <p>B.Tech - COE 2012</p>
                 </a>
             </div>
        </div>
        <div class="r1">
            <div class="box">
               <img src="https://iiitdm.ac.in/Profile/images/Profile/COE12B025.jpeg">
                <a href="">
                    <p>Roopesh Reddy K</p>
                   <p>B.Tech - COE 2012</p>
                 </a>
               
            </div>
            <div class="box">
                <img src="https://lh6.googleusercontent.com/-FfpQw69c3Os/AAAAAAAAAAI/AAAAAAAAACo/t9LZsBU3wzI/photo.jpg">
                <a href="">
                    <p>Ritesh Meena</p>
                    <p>B. Tech - MDM 2012</p>
                 </a>
                
             </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/COE12B004.jpeg">
                <a href="">
                    <p>Deepanshu Gautam</p>
                    <p>B.Tech - COE 2012</p>
                 </a>
               
             </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/MDM12B011.jpeg">
                <a href="">
                    <p>Jubin Antony J</p>
                    <p>B.Tech - MDM 2012</p>
                 </a>
             </div>
        </div>
        <div class="r2">
            <div class="box">
               <img src="https://iiitdm.ac.in/Profile/images/Profile/EDM12B007.jpeg">
                <a href="">
                    <p>VENKAT SAI BHARGAV</p>
                   <p>B. Tech - EDM 2012</p>
                 </a>
               
            </div>
            <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/COE12B010.jpeg">
                <a href="">
                    <p>KAPIL GUPTA</p>
                    <p>B.Tech - COE 2012</p>
                 </a>
                
             </div>
        </div>
        
        
        
    </div>
   
   <div class="container-3">
        <div class="footer-bg">
            <div class="quick-links">
                    <p class="footer-heading">Quick Links</p>
                    <hr class="h-line">
                    <div class="footer-space"></div>
                    <a class = "link" href="#"><span class="footer-links">Home</span></a>
                    <a class = "link" href="#"><span class="footer-links">About Us</span></a>
                    <a class = "link" href="#"><span class="footer-links">Members</span></a>
                    <a class = "link" href="#"><span class="footer-links">Events</span></a>
                    <a class = "link" href="#"><span class="footer-links">Gallery</span></a>
            </div>
            <div class="contact-us">
                <div class="footer-heading">Contact us</div>
                <hr class="h-line">
                <div class="icons">
                    <a href="https://www.linkedin.com/company/alumni-affairs-iiitdm/" target="_blank"><img class = "footer-icon-1" src="../public/images/linkedin.webp"></a>
                    <a href="https://instagram.com/alumniaffairsiiitdm?igshid=YmMyMTA2M2Y=" target="_blank"><img class = "footer-icon-2" src = "../public/images/instagram.png"></a>
                    <a href="https://twitter.com/iiitdm_kancheep?lang=en" target="_blank"><img class = "footer-icon-3" src="../public/images/twitter.webp"></a>
                </div>
            </div>
        </div>
    </div>
    <script src="members.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> 
</body>
</html>

    
    
