<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../public/css/about.css">
    <link rel="icon" href="../public/images/falcon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h2 class="logo">IIITDM Alumni Portal</h2>
        <nav class="nav">
            <a href="/index-login">Home</a>
            <a href="/about-login">About Us</a>
            <a href="/members-login">Members</a>
            <a href="/events-login">Events</a>
            <a href="/gallery-login">Gallery</a>
            <a button class="btnlogin" href="/auth/logout">Logout</a>
        </nav>
    </header>
    <br><br>
    <div class="head">ABOUT IIITDM KANCHEEPURAM</div>
     <br><br><br>
    <div class="image1">
        <img src="./images/aboutimage1.jpg" class="img">
    </div>
   
    <div class="para">
    <p class="para1">
    Indian Institute of Information Technology Design and Manufacturing Kancheepuram (IIITDM Kancheepuram) is a Centre of Excellence for technical education and research established in 2007 by the Ministry of Education, Government of India to pursue design and manufacturing oriented engineering education and research and to promote the competitive advantage of Indian products in global markets. 
    <br><br>
    It is one of the two IIITDMs, the other one being located in Jabalpur. The institute, which was operating from its temporary campus within the Indian Institute of Technology Madras, which was also its mentor institute, has moved to its permanent campus at Kelambakkam-Vandalur road near Chennai in 2011. The institute offers academic and research programs that integrate engineering design, manufacturing and management with information technology. The institute offers undergraduate and postgraduate programs which focus on IT, design and manufacturing in engineering sectors.
    <br><br>
    The institute is located on a 51 acre campus on the outskirts of Chennai, off the Vandalur-Kelambakkam road. It is a fully residential campus with all students residing within the campus. The campus houses the academic block, the administrative block, lecture hall complex and laboratory block.
    <br><br>
    The Institute is presently offering B.Tech programmes in Computer Engineering, Electronics and Communication Engineering (Design & Manufacturing) and Mechanical Engineering (Design & Manufacturing), 5 Dual Degree Programmes leading to B.Tech and M.Tech Degrees, M.Des in Electronic Systems Design, Communication Systems Design, Mechanical Systems Design and inter-disciplinary Ph.D programmes in core and applied areas of engineering. From the academic year 2016, the Institute will introduce the B.Tech Mechanical (Smart Manufacturing). The faculty members of the Institute are also involved in sponsored and consultancy research projects from reputed industries and government organisations.
    </p>
    </div>
    
    <div class="values">
        <div><h1>Our Values</h1></div>
        <br>
        <div class="bl1">
            <div class="b1"><h2>Our People</h2><br> <p>We care for and respect one another professionally and personally, acknowledging that while our work is important.</p></div>
            <div class="b2"><h2>Integrity</h2><br><p>We expect honesty,transparency,trust,accountability and respect for others,both personally and professionally,as we endeavor always to comport ourselves in an appropriate and ethical manner.</p></div>
        </div>
        <br><br>
        <div class="bl2">
            <div class="b1"><h2>Diversity, Equity & Inclusion</h2><br> <p>We strive to be a safe, fair, open and wonderfully diverse community in which differences are celebrated and staff members can be authentically themselves.</p></div>
            <div class="b2"><h2>Excellence</h2><br><p>We strive to be outstanding in all that we do, both as individuals and as an organization, while embracing a growth mindset focused on learning and continuous improvement.</p></div>
        </div>
    </div>
    <br><br>
    <div class="alumimg">
        <div class="al">
           <h2>New to IIITDM Kancheepuram alumni?<br>Get connected Today.</h2>
           <br><br>
           <div class="a1">
              <a href="/">Register</a>
           </div>
        </div>
    </div>
    
   <div class="container-3">
        <div class="footer-bg">
            <div class="quick-links">
                    <p class="footer-heading">Quick Links</p>
                    <hr class="h-line">
                    <div class="footer-space"></div>
                    <a class = "link" href="/index-login"><span class="footer-links">Home</span></a>
                    <a class = "link" href="/about-login"><span class="footer-links">About Us</span></a>
                    <a class = "link" href="/members-login"><span class="footer-links">Members</span></a>
                    <a class = "link" href="/events-login"><span class="footer-links">Events</span></a>
                    <a class = "link" href="/gallery-login"><span class="footer-links">Gallery</span></a>
            </div>
            <div class="contact-us">
                <div class="footer-heading">Contact us</div>
                <hr class="h-line">
                <div class="icons">
                    <a href="https://www.linkedin.com/company/alumni-affairs-iiitdm/" target="_blank"><img class = "footer-icon-1" src="../public/images/linkedin.webp"></a>
                    <a href="https://instagram.com/alumniaffairsiiitdm?igshid=YmMyMTA2M2Y=" target="_blank"><img class = "footer-icon-2" src = "../public/images/instagram.png"></a>
                    <a href="https://twitter.com/iiitdm_kancheep?lang=en" target="_blank"><img class = "footer-icon-3" src="../public/images/twitter.webp"></a>
                </div>
            </div>
        </div>
    </div>
  
    <script src="./js/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> 
</body>
</html>
