<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="../public/css/events.css">
    <link rel="icon" href="falcon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h2 class="logo">IIITDM Alumni Portal</h2>
        <nav class="navigation">
            <a href="/index-login">Home</a>
            <a href="/about-login">About Us</a>
            <a href="/members-login">Members</a>
            <a href="/events-login">Events</a>
            <a href="/gallery-login">Gallery</a>
            <a button class="btnlogin" href="/auth/logout">Logout</a>
        </nav>
    </header>
    <div class="timeline">
        <div class="container left">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSORWI4iGBOJlTg90mr6mysZXpQNfj-Ik7Q7CmxTumK6w&s">
            <div class="text-box">
                <h2>Vashisht - Tech fest</h2>
                <small>24 February 2023</small>
                <p>Vashisht is a highly anticipated three day event at IIITDM Kancheepuram that is held every year, from robotics to entrepreneurship, coding to designing, designing to manufacturing this event will test contestants in a variety of fields. It promises to spark a passion for technology launching students into the horizons of innovation, attracting over 2000 students from across the country. The event aims to bring together industry professionals and thought leaders to share their knowledge and experience in the fintech.</p>
                <span class="left-arrow"></span>
            </div>
        </div>
        <div class="container right">
            <img src="../public/images/sam.png">
            <div class="text-box">
                <h2>Samgatha - Cultural fest</h2>
                <small>1 April 2023</small>
                <p>Samgatha is our annual inter-college cultural fest, wherein we have seen a footfall of over 1500 students in our previous editions. It started out as an intra-cultural fest in 2011 and has seen exponential growth over the years as illustrious artists like Surreal, Pineapple Express, Nicketronix, Priya Darshini, Matt Bacon, Naveen Richards, When Chai Met Toast collaborated with us in the previous editions of Samgatha.</p>
                <span class="right-arrow"></span>
            </div>
        </div>
        <div class="container left">
            <img src="../public/images/alumni-logo.jpg">
            <div class="text-box">
                <h2>Alumni Meet</h2>
                <small>24 June 2023</small>
                 <p>Established in 2016, Alumni Affairs Association IIITDM works to connect alumni, students and the institute to create a seamless experience through various events such as Alumni Talks, Batch-wise Reunions, Alumni Meets & Conferences. </p>
            <span class="left-arrow"></span>
            </div>
        </div>
        <div class="container right">
            <img src="https://edubard.in/media/media/uploads/2020/06/11/iiit-kancheepuram.png">
            <div class="text-box">
                <h2>Placement & Internship drive</h2>
                <small>24 August 2023</small>
                <p>Placement Cell,looks after the career development and placement activities at IIITDM Kancheepuram. The placement process at IIITDM Kancheepuram is driven by the student
                    representatives with constant support from the Institute Placement cell. We are well equipped with the required infrastructure to conduct placement sessions, video conferencing, etc., to organize campus placement activities. We provide all the possible support to our students and the visiting industries for this purpose.</p>
                <span class="right-arrow"></span>
            </div>
        </div>
    </div>
    <div class="container-3">
        <div class="footer-bg">
            <div class="quick-links">
                    <p class="footer-heading">Quick Links</p>
                    <hr class="h-line">
                    <div class="footer-space"></div>
                    <a class = "link" href="/index-login"><span class="footer-links">Home</span></a>
                    <a class = "link" href="/about-login"><span class="footer-links">About Us</span></a>
                    <a class = "link" href="/members-login"><span class="footer-links">Members</span></a>
                    <a class = "link" href="/events-login"><span class="footer-links">Events</span></a>
                    <a class = "link" href="/gallery-login"><span class="footer-links">Gallery</span></a>
            </div>
            <div class="contact-us">
                <div class="footer-heading">Contact us</div>
                <hr class="h-line">
                <div class="icons">
                    <a href="https://www.linkedin.com/company/alumni-affairs-iiitdm/" target="_blank"><img class = "footer-icon-1" src="../public/images/linkedin.webp"></a>
                    <a href="https://instagram.com/alumniaffairsiiitdm?igshid=YmMyMTA2M2Y=" target="_blank"><img class = "footer-icon-2" src = "../public/images/instagram.png"></a>
                    <a href="https://twitter.com/iiitdm_kancheep?lang=en" target="_blank"><img class = "footer-icon-3" src="../public/images/twitter.webp"></a>
                </div>
            </div>
        </div>
    </div>
  
    <script src="../public/js/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> 
</body>
</html>