<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Members</title>
    <link rel="stylesheet" href="../public/css/members-login.css">
    <link rel="icon" href="../public/images/falcon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h2 class="logo">IIITDM Alumni Portal</h2>
        <nav class="navigation">
            <a href="/index-login">Home</a>
            <a href="/about-login">About Us</a>
            <a href="/members-login">Members</a>
            <a href="/events-login">Events</a>
            <a href="/gallery-login">Gallery</a>
            <a button class="btnlogin" href="/auth/logout">Logout</a>
        </nav>
    </header>
    <br>
    <br>
    <div class="num">
        <h1>Alumni</h1>
        <br>
        <div class="r1">
            <a href="/a2008">2008</a>
            <a href="/a2009">2009</a>
            <a href="/a2010">2010</a>
            
        </div>
        <br>
        <div class="r2">
            <a href="/a2011">2011</a>
            <a href="/a2012">2012</a>
            <a href="/a2013">2013</a>
            <a href="/a2014">2014</a>
        </div>
    </div>
    <br><br>
    <div class="links">
        <h1>Members</h1>
    </div>
    <br><br>
    <div class="lin">
        <div class="r1">
            <div class="box">
               <img src="https://media.licdn.com/dms/image/C5103AQHzq8D-erP5OA/profile-displayphoto-shrink_800_800/0/1554240750025?e=1686787200&v=beta&t=qEWg4X-7rxEQM6ZlajE-2SOQVl0FpLBtkOTnrqLN2A0">
               <a href="">
                  <p>Vani Sindura Bodapati</p>
                  <p>B. Tech - MDM 2008</p>
               </a>
            </div>
            <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/coe09b007.jpeg">
                <a href="">
                    <p>S N V V Manik Gode</p>
                    <p>B. Tech - COE 2009</p>
                 </a>
            </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/mdm09b010.jpeg">
                <a href="">
                    <p>Sai Srikanth Kuthadi </p>
                    <p>B. Tech - MDM 2009</p>
                 </a>
                
             </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/coe09b008.jpeg">
                <a href="">
                    <p>Ilambharathi Kanniah </p>
                    <p> B. Tech - COE 2009</p>
                 </a>
             </div>
        </div>
        <div class="r1">
            <div class="box">
               <img src="https://iiitdm.ac.in/Profile/images/Profile/edm09b016.jpeg">
               <a href="">
                  <p>Thejeswini Batchu, Analyst</p>
                 <p>B. Tech - EDM 2009</p>
               </a>
               
            </div>
            <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/mdm09b008.jpeg">
                <a href="">
                    <p>Preetham Jonnalagadda</p>
                <p> B. Tech - MDM 2009</p>
                 </a>
                
             </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/mds10m003.jpeg">
                <a href="">
                    <p>Sanket Patil </p>
                    <p> M. Des - MDS 2010</p>
                 </a>
                
             </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/coe10b009.jpeg">
                <a href="">
                    <p>Naveen Cherupally</p>
                    <p>B. Tech - COE 2010</p>
                 </a>
               
             </div>
        </div>
        <div class="r1">
            <div class="box">
               <img src="https://iiitdm.ac.in/Profile/images/Profile/edm10b019.jpeg">
               <a href="">
                <p>Spoorthy Macherla</p>
                <p>B. Tech - EDM 2010</p>
             </a>
              
            </div>
            <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/MDM11B028.png">
                <a href="">
                    <p>Abhishek Arun Yevalkar</p>
                    <p>B. Tech - MDM 2011</p>
                 </a>
                
             </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/EDM11B003.jpeg">
                <a href="">
                    <p>Sanjusha Reddy </p>
                    <p>B. Tech - EDM 2011</p>
                 </a>
                
             </div>
             <div class="box">
                <img src="https://lh6.googleusercontent.com/-FfpQw69c3Os/AAAAAAAAAAI/AAAAAAAAACo/t9LZsBU3wzI/photo.jpg">
                <a href="">
                    <p>Ritesh Meena</p>
                    <p>B. Tech - MDM 2012</p>
                 </a>
                
             </div>
        </div>
        <div class="r1">
            <div class="box">
               <img src="https://iiitdm.ac.in/Profile/images/Profile/EDM12B007.jpeg">
                <a href="">
                    <p>VENKAT SAI BHARGAV</p>
                   <p>B. Tech - EDM 2012</p>
                 </a>
               
            </div>
            <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/COE12B018.jpeg">
                <a href="">
                    <p>NITIN VIVEK BHARTI</p>
                    <p>B. Tech - COE 2012</p>
                 </a>
                
             </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/eds13m002.jpeg">
                <a href="">
                    <p>ABHIJIT BALA </p>
                    <p>M. Des - EDS 2013</p>
                 </a>
               
             </div>
             <div class="box">
                <img src="https://iiitdm.ac.in/Profile/images/Profile/mds14m002.jpeg">
                <a href="">
                    <p>CHANDRASEKAR E</p>
                    <p>M. Des - MDS 2014</p>
                 </a>
                
             </div>
        </div>
    </div>
   
    <div class="container-3">
        <div class="footer-bg">
            <div class="quick-links">
                    <p class="footer-heading">Quick Links</p>
                    <hr class="h-line">
                    <div class="footer-space"></div>
                    <a class = "link" href="/index-login"><span class="footer-links">Home</span></a>
                    <a class = "link" href="/about-login"><span class="footer-links">About Us</span></a>
                    <a class = "link" href="/members-login"><span class="footer-links">Members</span></a>
                    <a class = "link" href="/events-login"><span class="footer-links">Events</span></a>
                    <a class = "link" href="/gallery-login"><span class="footer-links">Gallery</span></a>
            </div>
            <div class="contact-us">
                <div class="footer-heading">Contact us</div>
                <hr class="h-line">
                <div class="icons">
                    <a href="https://www.linkedin.com/company/alumni-affairs-iiitdm/" target="_blank"><img class = "footer-icon-1" src="../public/images/linkedin.webp"></a>
                    <a href="https://instagram.com/alumniaffairsiiitdm?igshid=YmMyMTA2M2Y=" target="_blank"><img class = "footer-icon-2" src = "../public/images/instagram.png"></a>
                    <a href="https://twitter.com/iiitdm_kancheep?lang=en" target="_blank"><img class = "footer-icon-3" src="../public/images/twitter.webp"></a>
                </div>
            </div>
        </div>
    </div>
    <script src="../public/js/members.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> 
</body>
</html>

    
    
